/* Pac-Man Pre-Loader */
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: #fff url('../img/loader.gif') no-repeat center center;
}

/* Global */
body {
  overflow-x: hidden !important;
}

a {
  color: #501e54;
}

a:hover {
  color: orange;
}

.btn-large,
.btnw,
.btn {
  background-color: #501e54;
  color: white;
  margin: 1.5rem;
}

.btnw
 {
  background-color: white;
  color: black;
  margin: 1.5rem;
}

.inv {
  background-color: orange;
  color: black;
  margin: 1.5rem;
}

.inv:hover {
  background-color: white;
  color: black;
  margin: 1.5rem;
}

.btn-large:hover,
.btn:hover {
  color: black;
  background-color: orange;
}

.divider {
  margin: 3rem;
}

#disabled {
  color: grey;
}

.parallax {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.4);
}

.btn-mobile {
  display: none;
}

.modal {
  max-height: 80%;
  height: 80%;
  font-size: 1.1rem;
}

#modalcontact {
  padding-top: 10rem;
}

.test {
  display: flex;
  justify-content: center;
  margin-left: 18.7rem;
  margin-right: 18.7rem;
}

.calendar {
  margin-top: -4rem;
}

.hidden {
  display: none;
}

/* Index */

/* Nav */
.merch {
  display: none;
}

#logo-s {
  margin-top: 0.2rem;
  display: inline-flex;
  height: 4rem;
  transition: all 1s;
}

.brand-logo,
.merch,
.blog,
.club,
.contact,
.cheveron {
  transition: all 0.3s;
}

.brand-logo:hover,
.merch:hover,
.blog:hover,
.club:hover,
.contact:hover {
  color: orange;
  cursor: pointer;
}

#logo-s:hover {
  transform: rotate(360deg);
}

.transparent {
  box-shadow: none;
}

.newcolor {
  background-color: #501e54;
}

/* Hero */
#halloween {
  display: grid;
  place-items: center;
  margin-top: 55px;
}

#halloween-col {
  margin-left: 0;
}

.card-content {
  background-color: black;
}

#hero-logo {
  margin-top: 80px;
  height: 80vh;
  width: auto;
}

#hero {
  height: 101vh;
  margin-top: -80px;
}

.cheveron {
  z-index: 2;
  font-size: 4rem;
}

.cheveron:hover {
  font-size: 5rem;
  cursor: pointer;
}

/* Club */
#discord {
  font-size: 5rem;
  margin: 1rem;
}

#club {
  margin-top: 4rem;
}

/* Renting */
.parallax-container {
  width: 100vw;
  height: auto;
}

.rent td {
  border-bottom: 1px solid black;
}

.rent .last {
  border-bottom: none;
}

.rent {
  margin-bottom: 3rem;
}

.rent th {
  border-bottom: 3px solid black;
}

.terms {
  margin-bottom: 5rem;
}

/* Event */
#event {
  margin-bottom: 3rem;
}

.event-btn {
  display: grid;
  place-items: center;
}

#cal-btn1,
#add-cal,
#see-cal {
  margin-top: 2rem;
  font-size: 1.4rem;
}
#cal-btn1 {
  padding-top: 8rem;
}

#cal-btn2 {
  margin-top: 1rem;
  font-size: 1.4rem;
}

#direct-contact {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#contact-title {
  margin-bottom: 3rem;
}

#point {
  transform: rotate(90deg);
  margin: 1rem;
  height: 3rem;
}

.hide-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Here */
#here {
  background-color: #501e54;
}

/* #teste {
  width: 600px;
} */

/* Contact */
#contact {
  margin-top: 3rem;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2.2rem;
  color: #501e54;
  margin-top: 1rem;
}

#directions {
  display: none;
}

#map,
#calendar {
  max-width: 100%;
  max-height: 100%;
}

.qr-text {
  font-size: 1.5rem;
  margin-top: 6rem;
}

#point-left {
  transform: rotate(-90deg);
  margin: 1rem;
  height: 3rem;
}

/* Brands */
#brands {
  padding-top: 3rem;
}

.brands {
  margin-bottom: 3rem;
}

/* Footer */
#logos {
  height: 5rem;
}

#logos-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Blog */

.fa-tools {
  font-size: 10rem;
  margin-top: 25vh;
  margin-bottom: 2rem;
}

.const-text {
  margin-bottom: 25vh;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  /* General */

  /* Nav */
  .navbar-fixed nav {
    position: absolute;
  }

  #brand-logo {
    display: none;
  }

  #logo-s {
    height: 4rem;
    width: 4rem;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  /* Hero */
  #halloween {
    display: grid;
    place-items: center;
    margin-top: 10vh;
    height: 90vh;
  }

  #cheveron {
    display: none;
  }

  #hero-logo {
    position: absolute;
    margin-top: 20vh;
    left: 0%;
    right: 0%;
    z-index: 2;
    width: 100%;
    height: auto;
  }

  #hero {
    margin-top: -80px;
    height: 103vh;
    width: 100vw;
  }

  /* Events */
  .hide-btn {
    display: none;
  }

  .btn-mobile {
    display: contents;
  }

  .btn-mobile .btn {
    margin: 0;
  }

  .modal {
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  /* Event */
  #cal-btn1 {
    display: none;
  }

  #cal-btn2 {
    margin-top: 0rem;
  }

  /* Renting */

  /* Here */
  /* #here {
    display: none;
  } */

  /* Contact */
  #directions {
    display: block;
  }

  #map {
    display: none;
  }

  /* Footer */
  #brands {
    display: none;
  }
}
