:root {
  --primary-color: #501e54;
  --secondary-color: #fb9900;
  --tertiary-color: #20394f;
  --light-color: #f3f3f3;
  --dark-color: #333333;
}

/* Mobile */
/* #showcase {
  display: none; 
} */

#front .image {
  width: 100vw;
  opacity: 1;
  transition: none;
  padding-top: 5vh;
  padding-left: 12px;
}

#main-nav .dice,
#main-nav .dado {
  padding: 0;
  /* margin: 0; */
}

body {
  background: var(--dark-color);
  overflow-x: hidden;
  z-index: -2;
}

#main-nav .nav-container {
  display: flex;
  justify-content: space-between;
}

#main-nav .social {
  padding-top: 5px;
}

#main-nav .social .fab,
#main-nav .home .fas {
  transition: none;
}

#main-nav a {
  color: var(--light-color);
}

#main-nav a i {
  opacity: 100%;
  transition: none;
}

#main-nav a:hover i {
  opacity: 100%;
}

#info {
  grid-template-columns: none;
}

#events {
  grid-template-columns: none;
  padding: 2rem 1rem;
  grid-row-gap: 2rem;
}

#events .gap {
  display: flex;
  padding-bottom: 5rem;
}

/* Coming Soon */
#soon .soon {
  display: block;
  margin-top: 20vh;
}

/* Media Querries */
@media (max-width: 450px) {
  #main-nav .nav-container {
    display: block;
    padding: 0;
    margin: 0;

  }

  #main-nav .social,
  #main-nav .home {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #main-nav .social {
    padding-top: 1rem;
  }

  #main-nav .home a {
    padding-right: 1px;
  }

  #main-nav .dice,
  #main-nav .dado {
    display: none;
  }

}